* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@import './swiper-3.4.2.min.css';
@import './zkCommon.scss';

